/* You can add global styles to this file, and also import other style files */
@import './dist/scss/variables.scss';

* {
  margin: 0px;
  padding: 0px;
  font-weight: 5vh;
}

body {
  background-color: $primary-background-color;
}

.container {
  width: 40vw;
  margin: 50px auto;
}
