$primary-color: #AF7EEB;
$secondary-color: #939CDB;
$tertiary-color: #FFFFFF;

$primary-background-color: #E3E9FF;
$secondary-background-color: $tertiary-color;
$tertiary-background-color: $primary-color;

$primary-text-color: $secondary-color;
$secondary-text-color: $tertiary-color;

$danger-color: #FF002E;

* {
  margin: 0px;
  padding: 0px;
  font-weight: 5vh;
}

body {
  background-color: $primary-background-color;
}

.container {
  width: 40vw;
  margin: 50px auto;
}
